/* width */

html
{
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
   
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(100,100,100,0.5); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  
}

:root
{
  --profile-border: 5px solid white;
  --dark-contrast-text-color: rgba(100,100,100,0.8);
  --general_button-color: white;
  --gradient-top-color: black;
  --gradient-bottom-color: rgb(0,100,200);
  --intra-section-border: 150px;
}

#bottom_text{
  color: black;
  font-family:  'Montserrat', sans-serif;
}

.star_canvas{
  z-index: -1;
  pointer-events: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: azure;

}
.main_layout
{
  
  scroll-behavior: smooth;
  z-index: 2;
  color: var(--dark-contrast-text-color);
  font-family:  'Montserrat', sans-serif;
}
.main_layout * 
{
  
}

/* https://stackoverflow.com/questions/38428322/react-component-full-screen-with-height-100/56325816 */

body > #root > div {
    display:block;
  height: 100vh;
  width: 100%;
  padding: 0px;
  overflow-x: hidden !important;
  
  /* color: white;
  font-family: Geneva; */
}

.about_us
{
  color: var(--dark-contrast-text-color);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 50px;
  
}

.about_us_wrapper
{
  margin-bottom: var(--intra-section-border);
}

.profile_card
{
  
}

.profile_card * 
{
  

  border-radius: 10px;
  padding: 10px;
}

.name_title
{
  
grid-column-start: 1;
grid-column-end: 4;
grid-row-start: 1;
grid-row-end: 2;
  justify-content: center;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.name_title p
{
  
  font-size: 1.4em;
}

.basic_profile_credentials
{
  border-top: var(--profile-border);
  
  border-radius: 0px;
  border-top-right-radius: 10px;
  text-align: center;
  flex-direction: column;
  height: auto;
}


.profile_card
{
  
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  height: auto;
  width: 500px;
  display: grid;
  
  grid-template-columns: repeat(2, 1fr);  
  row-gap: auto;
  column-gap: 10px;
}

.header_container
{

  align-content: center;
  margin-bottom: 40px;
  align-items: center;
  
  
}
.footer_container
{
  align-content: center;
  margin: 0px;
  align-items: center;
  
}


@keyframes color_gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container
{
  align-content: center;
  margin: 0px;
  align-items: center;
  
}

.container
{
  text-align: center;
}


.profile_card * 
{
  color: var(--dark-contrast-text-color);
  justify-content: center;
}

.profile_picture
{
  
  display: block;
  justify-content: center;

  
}

.profile_picture img
{
  padding: 0;
  border-radius: 20px;
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: fill;
}
.horizontal_center_flex{
  flex-direction: column;    
  display: flex;
  justify-content: center;
  align-items: center;
}
.contract_address_outside
{
  display: flex;
  flex-direction: row;
  border: 1px var(--dark-contrast-text-color) solid;
  border-radius: 30px;
  width: fit-content;
  height: fit-content;
  padding-left: 10px;
  justify-content: space-around;
  align-items: center;
}

.contract_address_outside *
{
  margin: 5px;
}

.copy_address_button
{
  width: fit-content;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid white;
  color: white;
  order: 5;
  padding: 5px;
  transition: 0.1s ease-in background-color;
}

.copy_address_button img
{ 
  width: 0px;
  
  transition: 1s ease-in width;
}
.copy_address_button:hover
{
  /* color: var(--dark-contrast-text-color); */
  /* background-color: var(--general_button-color); */
}
.copy_address_button:active 
{
  background-color: green;
}

@keyframes copy_clicked
{
  0%
  {
    width: 0%;
  }
  100%
  {
    width: auto;
  }

}
.copy_address_button:active img
{
  width: auto;
}

.general_button
{
  color: var(--dark-contrast-text-color);
  background-color: var(--general_button-color);
  border-color: black;
  border-radius: 30px;
  order: 5;
  padding: 5px;
}

.general_button:hover
{

}



.button_container
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1em;
}

.button_container .general_button:active
{
  background: var(--dark-contrast-text-color);
  color: white;
}


.button_container *
{
  text-align: center;
  min-width: 10%;
}
.eth_logo
{
  width: 20px;
  height: auto;
}


.eth_logo_plus_symbol
{
  
  display: flex;
  flex-direction: row;
  align-items: center;
}



.bio_plus_web_links
{
  padding-left: 50px;
  border-radius: 0px;
  border-left: var(--profile-border);
  border-bottom-left-radius: 10px;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.bio_plus_web_links h2
{
  text-align: center;
}

.web_links_splash
{
  /* background-color: rgb(108, 198, 68); */
  justify-self: flex-end;
  height: auto;
  text-align: center;
  width: 80%;


}


.web_links_splash img,svg
{
  background-color: white;

  max-width:  40px;
  max-height: 40px;
  min-width:  40px;
  min-height: 40px;

}

.web_links_splash svg
{
  fill: -webkit-linear-gradient(top, #9477b4 0%, #fc73b4 100%);;


}

.web_links_splash img:active
{
  background-color: grey;

}


.general_side_bar
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 4em;
}

.general_side_bar *
{
  margin: 10px;
}

.general_header
{
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  /* max-height: 40px; */
}

.general_header::after
{

  position: absolute;
  /* width: 0%; */
  width: 100%;


  content: "";
  height: 2px;
  /* rgba(100,100,100,0.6); */
  background-color: var(--dark-contrast-text-color);
  bottom: -1px;
  border-radius: 15px;
  
  background-position: center;
  transform: scale(0);
  transition: 0.1s ease-in all;
}
.general_header:hover::after
{
  /* width: 100%; */
  transform: scale(1);
  

}


.title
{
  position: relative;
  animation: fly-fade-in 1s ease-in;
  font-size: 150px;
}


.coin_model_canvas {
  width: '50%';
  object-fit: cover;
  object-position: 100% 500000;
}
.tokenomics_wrapper
{  
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: var(--intra-section-border);
  
}
.tokenomics_container
{
  
  color: var(--dark-contrast-text-color); 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.tokenomics_container > p
{
  
  min-width: 500px;
  
}
.tokenomics_entry
{
  width: 33%;
  max-height: 500px;
  color: white;
  position: relative;
  background-color: transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 5%;
}

.tokenomics_entry * 
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tokenomics_entry img
{
  max-width: 100%;
  min-width: 100%;
  max-height: 100px;
  min-height: 100px;
}

.tokenomics_entry::before
{
  content: "";
  width: 10px;
  height: 100%;
  position: absolute;
  background: white;
  left: -10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}




.tokenomics_entry:hover
{
  
}

.disclaimer_title
{
  width: fit-content;
  border-bottom: 3px var(--dark-contrast-text-color) solid;
  
}

.disclaimer
{
  margin-top: var(--intra-section-border);
  border-radius: 0px;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
.disclaimer h1
{
  
}
.disclaimer img
{
  /* max-height: 100%; */
  width: 20%;
}
.disclaimer p 
{
  width: 99%;
}
.disclaimer::before
{
  position:absolute;
  background-color: var(--dark-contrast-text-color);
  width: 5px;
  left: 10px;
  height: 100%; 
  

}

.repository_section
{
  margin-left: 10%;
  margin-bottom: var(--intra-section-border);
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.repository_section_inner
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.repository_section_inner *
{
  border-radius: 10px;
  border: 0px solid white;
  width: 50%;

}

.repository_section_inner p
{
  
  
  /* padding-right: 10px; */ 
}

.repository_section_inner a
{
  margin-left: 10%;
  width: 120%;
  height: auto;
}
.disclaimer_wrapper
{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 10px;
  padding-left: 15px;
  justify-content: space-around;
}



#cadas_logo:hover
{
  background-color: red;

}

.disclaimer
{
  margin-bottom: 30px;

}
.contact 
{
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.web_links_img
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.buy_on_uniswap
{
  
  align-items: center;
  height: 100px;
  max-height: 40px;
}
.buy_on_uniswap img
{
  height: 100%;
  width: auto;
  
}


.attributions
{
  margin-left: 10%;
}

#target {
  align-items: center;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s ease-in-out,
              transform 1s ease-in-out;
}

/* Apply this class when #target enters/leaves the viewport */

#target.target-is-active {
  opacity: 1;
  transform: none;
}

#tokenomics {
    align-items: center;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s ease-in-out,
              transform 1s ease-in-out;
}

/* Apply this class when #target enters/leaves the viewport */

#tokenomics.target-is-active {
  opacity: 1;
  transform: none;
}

#nn {
    align-items: center;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s ease-in-out,
              transform 1s ease-in-out;
}

/* Apply this class when #target enters/leaves the viewport */

#nn.target-is-active {
  opacity: 1;
  transform: none;
}

#da {
    align-items: center;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s ease-in-out,
              transform 1s ease-in-out;
}

/* Apply this class when #target enters/leaves the viewport */

#da.target-is-active {
  opacity: 1;
  transform: none;
}

#protocoin {
    align-items: center;
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 1s ease-in-out,
              transform 0.5s ease-in-out;
}

/* Apply this class when #target enters/leaves the viewport */

#protocoin.target-is-active {
  opacity: 1;
  transform: none;
}
#t1 {
    align-items: center;
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 1s ease-in-out,
              transform 0.5s ease-in-out;
}

/* Apply this class when #target enters/leaves the viewport */

#t1.target-is-active {
  opacity: 1;
  transform: none;
}

.flag_bar
{
  background: rgba(10,10,10,1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: hidden;
  width: 7%;
  min-width: 80px;
  height: auto;
  transition: 0.5s ease-in height;
}
.flag_bar::after
{
  background: transparent;
}
.flag_bar img
{
  margin: 0px;
  height: auto;
  max-width: 30%;
}

.flag_bar:hover
{
  height: fit-content;
  padding-bottom: 0.5%;
}

.flag_bar_entry
{
  /* padding-bottom: 10%; */
  display: flex;
  flex-direction: row;
  max-height: 50%;
  align-items: center;
  justify-items: center;
  justify-content: center;
  max-width: 100%;
  
  justify-self: auto;
  padding-right: 10%;
  padding-left: 10%;
}

.flag_bar_entry img
{
  
}
.flag_bar_entry:hover
{
  background: rgba(100,100,100,1);
  border-radius: 20px;
}